*{
  color: rgb(41, 72, 100);
}
body{
  background-color: black;
}
.class{
  border: 10px;
  border-radius: 10px;
  margin: 20px;padding: 20px;
  background-color: yellowgreen;

}
.navbar{
  background-color: rgb(127, 255, 182);
  margin: 20px;
  padding: 20px;
}